* {
    margin: 0;
    padding: 0;
    font-family: "General Sans", sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
}

#bounding{
    
}

#main {
    width: 100%;
    background-color: black;
}

#hero { 
    color: white;
    height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;
}

#nav a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#heading {
    margin-top: 90px;
}

#heading h1 {
    opacity: 0.6;
    margin-left: 30px;
    line-height: 1;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
}

#secondh1 {
    margin-left: 230px;
}

.blocktext {
    width: fit-content;
}

.blocktext h5 {
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
}

#chhottiheadings {
    margin-top: 100px;
    padding-right: 50px;
}

#chhottiheadings h5 {
    text-transform: uppercase;
    margin-top: 0.5vw;
    font-size: 1vw;
    text-align: right;
}

#herofooter {
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#herofooter a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

#iconset {
    display: flex;
    gap: 5px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
}

#second {
    color: white;
    background-color: black;
    width: 100%;
    padding-top: 200px;
    padding-right: 10vw;
}

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: 0.7;
}

.elemlast {
    background-color: black;
    overflow: hidden;
    border-bottom: 1px solid #888;
}

.elem img {
    display: none;
    height: 140%;
    position: absolute;
    z-index: 999;
}

#about {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    padding: 10vw 10vw;
    background-color: black;
    color: white;
    width: 100%;
}

#textabout {
    width: 25rem;
}

#textabout h5 {
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 10px;
}

#textabout p {
    line-height: 1.7;
    margin-bottom: 30px;
}

#about img {
    width: 200px;
}

#textabout a {
    text-decoration: none;
    font-size: 12px;
    color: white;
    border-radius: 100px;
    border: 1px solid #fff;
    padding: 12px 22px;
}

#subscribe {
    background-color: black;
    color: #fff;
    padding: 20px 30px;
    padding-bottom: 7vw;
}

#subscribe h5 {
    text-transform: uppercase;
    opacity: 0.6;
}

#subscribe h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}

#footer {
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}

#footerleft {
    display: flex;
    gap: 20px;
}

#footerright {
    display: flex;
    gap: 30px;
}

#footer a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}
